<div id="table_products"></div>
<script>
  var data_url = '<%= products_path(format: :json) %>';//url json file
  var update_url = '<%= update_extjs_path %>'
  var create_url = '<%= create_extjs_path %>'
  var destroy_url = '<%= destroy_extjs_path %>'
</script>