<!DOCTYPE html>
<html>
  <head>
    <title>TestExtJS</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="extjs/adapter/ext/ext-base.js"></script>
    <script src="extjs/ext-all-debug.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <script src="product1.js"></script>
  </body>
</html>
